
.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin-top: 2%;
}
ul{
  list-style-type: none;
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #242424;
  color: white;
  margin: 0;
  padding: 0;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
td,th{
  border: 1px solid #ddd;
  padding: 8px;
}